body {
    margin: 0;
    font-size: 14px;
    color: #212529;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
section {
    padding: 75px 15px 15px 15px;
    position: relative;
}
a {outline: none;}